*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    // margin-right: 0;
    margin-bottom: 20px ;
    border-radius:5px;
    border:2px solid blue;
    // height:14em;
}
.card-img-top{
    height:15rem;
}