*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    color: rgb(32, 32, 1);
    background-color: rgb(255, 196, 0);
    width:25rem;
    height: 30rem;
    margin: 50px 500px !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    // overflow: hidden;
}

.img{
    width:8rem;
    height:6rem;
    border-radius:40px;
}
.btns{
    button{
        width:8rem;
        background-color: rgb(32, 32, 1);
        // color: yellow;
        color: greenyellow;
        padding: 8px;
        margin:10px 15px;
        border-radius:8px;
    }
}